src/main/resources/classes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://model.pblp.zm.com/"
           elementFormDefault="qualified">
    
    <xs:complexType name="GeneralLog">
        <xs:sequence>
            <xs:element name="time" type="xs:long"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>